@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
$main_c1: #004f4a;
$main_c2: #90bd20;
$main_c3: #22bfa5;
$sub_black: #3a3a3a;
html {
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
}
//gnb
.gnb-box {
  background: linear-gradient(-45deg, #20bd80 -20%, #004e4f);
  z-index: 800;
  overflow: hidden;
  position: fixed;
  top: 0;
  // transform: translateY(-100%);
  height: 0;
  transition: height 0.5s;
  .container {
    padding-inline: 3rem;
  }
  &.active {
    // transform: translateY(0);
    height: 100%;
    overflow-y: visible;
  }
}
.gnb-inner {
  height: calc(100% - 10.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gnb-menubox {
  color: #fff;
  .depth1 > li {
    > a {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }
  .depth2 {
    margin-top: 4rem;
    > li {
      margin-top: 12px;
      > a {
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
}
.gnb-footer {
  margin-top: 13rem;
  .ft-1 {
    padding: 3.1rem 0;
    border-block: 1px solid rgba(255, 255, 255, 0.3);
    a {
      font-size: 1.6rem;
      color: #fff;
      font-weight: 500;
    }
  }
  .ft-2 {
    padding: 3.1rem 0;
    font-size: 14px;
    color: #ccc;
    display: flex;
    > div:not(:last-child) {
      &::after {
        display: inline-block;
        content: "";
        height: 10px;
        width: 1px;
        margin-inline: 1.1rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

//EOgnb
header {
  .container {
    max-width: 1620px;
    // height: 105px;
  }
  .header-inner {
    height: 105px;
  }
}
.header-menubox {
  > ul {
    height: 100%;
    > li {
      height: 100%;
      position: relative;
      > a {
        color: $sub_black;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 4.5rem;
        font-weight: 500;
        font-size: 1.8rem;
      }
      &:hover {
        ul {
          padding-block: 20px;
          max-height: 300px;
        }
      }
    }
  }
  ul ul {
    max-height: 0;
    overflow: hidden;
    margin-top: -23px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    // display: flex;
    width: 100%;
    // flex-direction: column;
    // align-items: center;
    transition: all 0.5s;
    > li > a {
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
      padding: 0.8rem 0;
      color: #222;
    }
  }
}

.lang-list {
  width: 100px;
  overflow: hidden;
  position: absolute;
  right: 0;
  left: auto;
  max-height: 0;
  top: 38px;
  padding-inline: 1rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  transition: all 0.5s;
  a {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    color: #000;
  }
}
.header-utils__lang {
  position: relative;
  &.active {
    .lang-list {
      max-height: 200px;
      padding-block: 2.5rem;
    }
  }
}

.lang-icon {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-btn {
  z-index: 1000;
  margin-left: 4.4rem;
  width: 32px;
  height: 27px;
  position: relative;
  cursor: pointer;
  &::after,
  &::before {
    content: "";
    height: 3px;
    width: 32px;
    background-color: $main_c1;
    display: block;
    border-radius: 5px;
    position: absolute;
    transition: width 0.4s 0.6s;
  }
  &::after {
    content: "";
    bottom: 0;
    right: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }
  .bar {
    position: relative;
    height: 3px;
    width: 19px;
    background-color: $main_c1;
    border-radius: 5px;
    top: 50%;
    transform: translateY(calc(-50% + 0.5px));
    visibility: visible;
    transition: visibility 0.2s 0.3s;
    &::after,
    &::before {
      content: "";
      visibility: hidden;
      height: 3px;
      width: 32px;
      background-color: #fff;
      border-radius: 5px;
      position: absolute;
      transition: visibility 0s 0.4s, transform 0.4s 0s;
    }
  }
  &.active {
    &::after,
    &::before {
      width: 0;
      transition-delay: 0s;
    }
    .bar {
      visibility: hidden;
      transition-delay: 0.2s;
      &::after,
      &::before {
        visibility: visible;
        transition-delay: 0.4s;
      }
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}
