@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
$main_c1: #004f4a;
$main_c2: #90bd20;
$main_c3: #22bfa5;
$sub_black: #3a3a3a;
@mixin arrow {
  display: inline-flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #d2ecea;
  color: #000;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  margin-left: 10px;
}
@mixin circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $main_c2;
  position: absolute;
  left: -15px;
  z-index: 10;
}
html {
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
}

.container {
  max-width: 1620px;
  // height: 105px;
}
.header-inner {
  height: 105px;
}
//======================================
.gnb-box {
  background: linear-gradient(-45deg, #20bd80 -20%, #004e4f);
  z-index: 800;
  overflow: hidden;
  position: fixed;
  top: 0;
  // transform: translateY(-100%);
  height: 0;
  transition: height 0.5s;
  .container {
    padding-inline: 3rem;
  }
  &.active {
    // transform: translateY(0);
    height: 100%;
    overflow-y: visible;
  }
}
.gnb-inner {
  height: calc(100% - 10.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gnb-menubox {
  color: #fff;
  .depth1 > li {
    > a {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }
  .depth2 {
    margin-top: 4rem;
    > li {
      margin-top: 12px;
      > a {
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
}
.gnb-footer {
  margin-top: 13rem;
  .ft-1 {
    padding: 3.1rem 0;
    border-block: 1px solid rgba(255, 255, 255, 0.3);
    a {
      font-size: 1.6rem;
      color: #fff;
      font-weight: 500;
    }
  }
  .ft-2 {
    padding: 3.1rem 0;
    font-size: 14px;
    color: #ccc;
    display: flex;
    > div:not(:last-child) {
      &::after {
        display: inline-block;
        content: "";
        height: 10px;
        width: 1px;
        margin-inline: 1.1rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
//======================================
.header-menubox {
  > ul {
    height: 100%;
    > li {
      height: 100%;
      position: relative;
      > a {
        color: $sub_black;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 4.5rem;
        font-weight: 500;
        font-size: 1.8rem;
      }
      &:hover {
        ul {
          padding-block: 20px;
          max-height: 300px;
        }
      }
    }
  }
  ul ul {
    z-index: 700;
    max-height: 0;
    overflow: hidden;
    margin-top: -23px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    // display: flex;
    width: 100%;
    // flex-direction: column;
    // align-items: center;
    transition: all 0.5s;
    > li > a {
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
      padding: 0.8rem 0;
      color: #222;
    }
  }
}

.lang-list {
  width: 100px;
  overflow: hidden;
  position: absolute;
  right: 0;
  left: auto;
  max-height: 0;
  top: 38px;
  z-index: 700;
  padding-inline: 1rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  transition: all 0.5s;
  a {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    color: #000;
  }
}
.header-utils__lang {
  position: relative;
  &.active {
    .lang-list {
      max-height: 200px;
      padding-block: 2.5rem;
    }
  }
}

.lang-icon {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-btn {
  z-index: 1000;
  margin-left: 4.4rem;
  width: 32px;
  height: 27px;
  position: relative;
  cursor: pointer;
  &::after,
  &::before {
    content: "";
    height: 3px;
    width: 32px;
    background-color: $main_c1;
    display: block;
    border-radius: 5px;
    position: absolute;
    transition: width 0.4s 0.6s;
  }
  &::after {
    content: "";
    bottom: 0;
    right: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }
  .bar {
    position: relative;
    height: 3px;
    width: 19px;
    background-color: $main_c1;
    border-radius: 5px;
    top: 50%;
    transform: translateY(calc(-50% + 0.5px));
    visibility: visible;
    transition: visibility 0.2s 0.3s;
    &::after,
    &::before {
      content: "";
      visibility: hidden;
      height: 3px;
      width: 32px;
      background-color: #fff;
      border-radius: 5px;
      position: absolute;
      transition: visibility 0s 0.4s, transform 0.4s 0s;
    }
  }
  &.active {
    &::after,
    &::before {
      width: 0;
      transition-delay: 0s;
    }
    .bar {
      visibility: hidden;
      transition-delay: 0.2s;
      &::after,
      &::before {
        visibility: visible;
        transition-delay: 0.4s;
      }
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}
//======================================section1====================================
.section1 {
  @for $i from 1 through 5 {
    .swiper-slide#{$i} {
      background-image: url(/ASSETS/images/visual0#{$i}.png);
    }
  }
  .swiper-slide {
    height: 800px;
    width: 100%;
  }
  // img {
  //   height: 100%;
  // }
  .container {
    margin-inline: auto;
    padding-inline: 3rem;
    height: 100%;
  }
  .inner {
    display: flex;
    height: 800px;
    width: 100%;
    top: 0;
    padding-top: 16.6rem;
  }
  .num {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    padding-top: 7px;
    margin-right: 7rem;
    color: #fff;
  }
  .num.sub_black {
    color: #000;
  }
  .company {
    background-color: $main_c1;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding-inline: 1.5rem;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .txt-main {
    font-size: 4rem;
    margin-top: 1.8rem;
    margin-bottom: 6.6rem;
    line-height: 4.8rem;
    font-weight: 400;
    color: #fff;
    .highlight {
      font-weight: 600;
      color: $main_c2;
    }
  }
  .txt-main.black {
    color: #000;
  }
  .txt-sub {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
  }
  .txt-sub.sub_black {
    color: $sub_black;
  }
}
.section1 .more {
  width: 200px;
  height: 54px;
  margin-top: 56px;
  border-radius: 100px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, $main_c1, $main_c3);
    transform: scale(1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    transform-origin: left center;
    transition: all 0.5s;
  }
  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: $sub_black;
    &::before {
      transform: scale(0);
    }
  }
}

.swiper-controlbox {
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 3rem;
  width: 255px;
  height: 94px;
  background-color: #fff;
  padding-inline: 4.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  .arrow-btn {
    width: 33px;
    height: 9px;
    flex-shrink: 0;
  }
  .pagination1 {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bar {
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #e5e5e5;
    margin-inline: 10px;
  }
  .current {
    color: $sub_black;
  }
  .total {
    color: #bbb;
  }
  .pagination2 {
    height: 2px;
    width: 165px;
    background-color: #eee;
    position: absolute;
    bottom: 2rem;
  }
  .progressbarFillClass {
    background-color: #000;
    transform-origin: left;
    transition: transform 0.5s;
    height: 100%;
    width: 165px;
    display: block;
  }
}
//========================section2====================
.section2 {
  background-color: #fafafa;
  padding: 13.6rem 0 15rem;
  .container {
    padding-inline: 3rem;
  }
  .txt-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 10rem;

    .main-txt {
      position: relative;
      display: inline-block;
      font-size: 4.8rem;
      color: #000;
      font-weight: 600;
      margin-bottom: 3.8rem;
      p {
        position: relative;
        z-index: 100;
      }
      .circle {
        @include circle();
      }
    }
    .sub-txt {
      line-height: 3.4rem;
    }
    .highlight {
      font-weight: 600;
    }
  }
  .iconbox {
    .icon {
      flex: 1;
      height: 237px;
      &:not(:last-child) {
        border-right: 1px solid rgba(0, 79, 74, 0.15);
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      img {
        width: 66px;
        height: 69px;
      }
      &:hover {
        .title {
          color: $main_c1;
        }
        .more {
          height: 34px;
          margin-top: 2rem;
        }
      }
    }
    .title {
      font-size: 2.6rem;
      color: #666;
      font-weight: 700;
      margin-top: 2.6rem;
      transition: all 0.5s;
      position: relative;
    }
    .more {
      transition: all 0.5s;
      height: 0;
      overflow: hidden;
      .arrow {
        @include arrow();
        background-color: #d2ecea;
      }
    }
  }
}
//====================section3=============================
.section3 {
  .container {
    padding-inline: 3rem;
    display: flex;
    padding-block: 7rem 11.5rem;
  }
  .more {
    .arrow {
      @include arrow();
      background-color: $main_c2;
      color: #fff;
    }
  }
  .box1 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-right: 8.2rem;
    border-right: 2px dotted #dadada;
    align-items: center;
  }
  .box2 {
    padding-left: 8.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    justify-content: space-between;
    .more {
      .arrow {
        background-color: $main_c1;
      }
    }
    .txt-box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        text-align: end;
      }
    }
  }
  .txt-box {
    .eng {
      font-size: 2rem;
      color: #aaa;
      font-weight: 700;
      letter-spacing: 5px;
    }
    .kor {
      font-size: 4.4rem;
      color: $main_c1;
      font-weight: 600;
      margin-top: 2px;
    }
    .desc {
      font-size: 2rem;
      color: #3a3a3a;
      margin-block: 3.4rem 12.2rem;
    }
  }
  img {
    display: inline-block;
  }
}
//==========================section4==============================
.section4 {
  background-color: $main_c1;
  .circle {
    @include circle();
  }
  .sub-txt {
    font-size: 4rem;
    color: #dadada;
    font-weight: 700;
    position: relative;
    p {
      position: relative;
      z-index: 100;
    }
  }
  .maintxt {
    font-size: 5.2rem;
    color: #fff;
    font-weight: 700;
    margin: 5rem 0 22.2rem;
  }
  .more {
    font-size: 14px;
    color: #fff;
    .arrow {
      @include arrow();
      background-color: #d2ecea;
      color: #000;
    }
  }
  .news-box {
    width: 100%;
    max-width: 900px;
    padding-top: 15px;
    .title {
      font-size: 2.4rem;
      color: #fff;
      font-weight: 600;
      margin-bottom: 2.2rem;
    }
    .day {
      font-size: 1.6rem;
      color: #aaa;
      font-weight: 700;
    }
    li {
      border-top: 2px solid #eaeaea;
      &:last-child {
        border-bottom: 2px solid #eaeaea;
      }
    }
    a {
      display: block;
      padding: 4.8rem 3rem;
      span {
        display: block;
        width: 100%;
      }
    }
  }
}
//=====================section5==============================
.section5 {
  padding: 11rem 0 15rem;
  height: 100%;
  .circle {
    @include circle();
    left: 0;
  }
  li {
    height: 100%;
  }
  a {
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s;
    display: block;
    &:hover {
      .arrow {
        height: 64px;
        opacity: 1;
      }
      .hovered-img {
        opacity: 1;
        visibility: visible;
      }
      transform: translateY(-5rem);
    }
  }

  .hovered-img {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .sub-txt {
    font-size: 3.2rem;
    color: #666;
    font-weight: 700;
    position: relative;
    .txt {
      position: relative;
      z-index: 100;
      margin-left: 15px;
    }
  }
  .main-txt {
    padding-left: 15px;
    font-size: 5.2rem;
    color: #000;
    font-weight: 700;
    margin: 5rem 0 9.5rem;
  }
  .title-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6rem 4rem 6.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .kor {
    font-size: 4.6rem;
    color: #fff;
    font-weight: 600;
  }
  .eng {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    display: block;
  }
  .arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
  }
}
//==================footer===========================================
footer {
  background-color: #111;
  padding-bottom: 5.8rem;
  color: #fff;
  .ft-1 {
    border-bottom: 1px solid #343434;
    padding-block: 3.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .listbox {
      font-size: 1.6rem;
      font-weight: 500;
      gap: 3.8rem;
    }
    .family-site-box {
      width: 225px;
      height: 38px;
      border-top: 1px solid #666;
      border-bottom: 1px solid #eee;
      color: #dadada;
      padding: 0 5px;
      position: relative;
      .title {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        color: #dadada;
        &::after {
          content: "\f106";
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          font-size: 1.8rem;
        }
      }
      .family-site {
        position: absolute;
        height: 0;
        width: 255px;
        bottom: 51px;
        background-color: $main_c1;
        border-radius: 30px 30px 30px 0;
        transition: all 0.5s;
        ul {
          padding-inline: 2.6rem;
          overflow-y: scroll;
          height: 100%;
        }
        li {
          margin-top: 11px;
          a {
            font-size: 1.6rem;
            color: #fff;
          }
        }
      }
      &.active {
        .title::after {
          transform: rotate(180deg);
        }
        .family-site {
          height: 200px;
          padding-block: 3rem 1.5rem;
        }
      }
    }
  }
  .ft-2 {
    margin: 32px 0 20px;
    font-size: 14px;
    color: #aaa;
    > span:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 10px;
      background-color: #626262;
      margin-inline: 2.2rem;
    }
  }
  .ft-3 {
    font-size: 14px;
    color: #aaa;
    text-transform: uppercase;
    .highlight {
      font-weight: 600;
    }
  }
}
//==========TOP=======================
.top {
  z-index: 500;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  > div {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    background-color: #032523;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    transition: all 0.5s;
    &:hover {
      border-radius: 50%;
    }
  }
  i {
    color: #666;
    font-weight: 600;
    font-size: 1.8rem;
  }
}
